RewriteEngine On
RewriteBase /barbearia-progresso/

# Redirecionar todas as rotas para index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L]
