/*@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');
  
h1, h2, h3, h4, h6, p, span, a {
    font-family: 'Special Elite', cursive !important;
}*/

i.fa.contato {
    color: #b59e5c;
    font-size: 26px;
    top: 26px;
    right: 55px;
    position: relative;
}